site_name: Agent Plateau Reports
site_url: https://ch1nyzzz.github.io/agent_plateau/
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.top
    - content.code.annotate
    - content.tabs.link
    - search.suggest
    - search.highlight
nav:
  - Home: index.md
  - Weekly Reports:
      - Week 1: week1.md
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - footnotes
  - tables
  - mdx_math
